-
  const robotsList = [
    { agent: '*' },
    { agent: 'Yandex' },
    { agent: 'Googlebot' },
    { agent: 'Mail.Ru' },
    { agent: 'GeedoBot' }
  ]

each robot, i in robotsList
  | User-agent: #{robot.agent}#{'\n'}
  if robot.agent !== 'GeedoBot'
    | Disallow: /*?
    | Disallow: /thanks.html
  else
    | Disallow: /
  if robot.agent === '*'
    |
    | Clean-param: utm_source&utm_medium&utm_campaign&utm_content&utm_term&yhid&utm_referrer&gclid&yclid&clid
  if robot.agent === 'Yandex'
    |
    | Sitemap: #{URL}/sitemap.xml
  if (i !== robotsList.length - 1)
    | #{'\n'}
  | #{'\n'}
