-
  const products = [
    { id: 1, name: 'iPhone 14 Pro', price: 99990, image: '/static/images/no-image.png' },
    { id: 2, name: 'MacBook Air M2', price: 129990, image: '/static/images/no-image.png' },
    { id: 3, name: 'AirPods Pro', price: 24990, image: '/static/images/no-image.png' },
    { id: 4, name: 'Кроссовки Nike Air Max', price: 12990, image: '/static/images/no-image.png' },
    { id: 5, name: 'Кеды Converse', price: 8990, image: '/static/images/no-image.png' },
    { id: 6, name: 'Ботинки Dr. Martens', price: 18990, image: '/static/images/no-image.png' },
    { id: 7, name: 'Футболка Stone Island', price: 15990, image: '/static/images/no-image.png' },
    { id: 8, name: 'Джинсы Levi\'s', price: 9990, image: '/static/images/no-image.png' },
    { id: 9, name: 'Куртка The North Face', price: 29990, image: '/static/images/no-image.png' }
  ]

.products-index
  .products-index__header
    h1.products-index__page-title= title
    a.btn.products-index__btn-primary(href="#") 
      i.icon-plus
      span Добавить товар
  
  if error
    .alert.alert-danger= error
  
  .products-index__table
    table.products-index__table-inner
      thead
        tr
          th №
          th Название
          th Цена
          th
      tbody
        each product, index in products
          tr
            td= index + 1
            td= product.name
            td #{product.price} ₽
            td
              a.btn.products-index__btn-edit(href=`#`)
                span.text Редактировать
