-  
    const product = {
      name: 'Механическая клавиатура Keychron K2',
      price: 12999,
      description: 'Надежная клавиатура для работы и разработки',
      image: '/images/products/keyboard.jpg'
    }
    const error = null

.product-edit
  .product-edit__header
    h1.product-edit__page-title= title
    a.btn.product-edit__btn-back(href="#") 
      span.text Вернуться к списку
  
  if error
    .alert.alert-danger= error
  
  .product-edit__form
    form.product-edit__form-inner
      .product-edit__form-group
        label.product-edit__label Название
        input.product-edit__input(type="text" name="name" value=product.name)
      
      .product-edit__form-group
        label.product-edit__label Цена
        input.product-edit__input(type="number" name="price" value=product.price)
      
      .product-edit__form-group
        label.product-edit__label Описание
        textarea.product-edit__input(name="description" value=product.description required)

      .product-edit__form-group
        label.product-edit__label Изображение
        input.product-edit__input(type="file" name="image")
        if product.image
            picture.product-edit__picture
                source(srcset=placeholder(120, 120), media="(max-width: 1240px)")      
                img.product-edit__preview(src=placeholder(276, 276), alt="Изображение товара")
      
      .product-edit__form-actions
        button.btn.product-edit__btn-save(type="submit")
          span.text Сохранить