-
  const aboutList = [
    'Компания с 15-летней историей на рынке',
    'С 2010 года компания осуществляет безперебойное производство задника из кожкартона и стелек для обуви',
  ]

article.about
  .about__cont.cont
    span.about__title.title О производстве
    .about__area
      .about__info
        p.about__text.text-big Один из лидеров по продажам задника в Кировской области
        ul.about__list
          each item in aboutList
            li.about__item.text-big= item
        p.about__offer.text-big Изготовим задник из кожкартона специально для вас: изменим фасон, выберем модификацию и подберем индивидуальный размер
      picture.about__picture
        - const aboutImagePath = `${pathImage}about/about-1`
        source(srcset=`${aboutImagePath}_476.webp 1x, ${aboutImagePath}_714.webp 1.5x`, type='image/webp')
        source(srcset=`${aboutImagePath}_476.jpg 1x, ${aboutImagePath}_714.jpg 1.5x`)
        img.about__image(src=`${aboutImagePath}_476.jpg`, alt='Производитель задника из кожкартона и стелек - фото', title="Производитель задника из кожкартона и стелек", loading="lazy")

