.order-form#order-form
  .order-form__cont.cont
    .order-form__wrapper
      h2.order-form__title.title
        | Заказать столы лофт
      p.order-form__text.text-big Оставьте заявку, менеджер свяжется с вами для уточнения деталей
      form.order-form__form(data-role="feedback-form")
        div#captcha-container
        input(type="hidden", name="form_number", value="100")
        input(type="hidden", name="form_name", value="Форма заказать мебель лофт")
        .order-form__input-box
          input.order-form__input.order-form__input_name.input.text(type="text", placeholder="Имя", name="name")
        .order-form__input-box
          input.order-form__input.order-form__input_phone.input.text(
              type="tel",
              placeholder="Телефон*",
              name="phone",
              data-role="feedback-form__phone-input"
            )
          span.order-form__text-error.text-error.text-error_hide(data-role="feedback-form__text-error") *Неверный номер телефона
        .order-form__btn-box.order-form__input-box_name
          button.order-form__button.button-orange.text(data-role="feedback-form__button") Заказать
          span.order-form__policy.text-tiny
            | и принять
            |
            a.order-form__policy-link(href=getPage('policy')) Политику конфиденциальности
